version: '3.2'
services:
#Service odoo toma el Dockerfile de ./build/odoo
 odoo1:
  build: ./odoo
  hostname: odoo1
  env_file: 
  - "odoo/odoo.env"
  environment:
  - DBHOST=postgres1
  depends_on:
  - postgres1
  ports:
  - "8069:8069"
  #Mapeo del directorio de la MV en el container
  volumes:
  - ~/odoo/src:/opt/odoo/src
  - odoo_fs_thompson:/opt/odoo/.local/share/Odoo/
  - thompson_conf:/opt/odoo/conf
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.101
 odoo2:
  build: ./odoo
  hostname: odoo2
  env_file: 
  - "odoo/odoo.env"
  environment:
  - DBHOST=postgres1
  depends_on:
  - postgres1
  ports:
  - "8070:8069"
  #Mapeo del directorio de la MV en el container
  volumes:
  - ~/odoo/src:/opt/odoo/src
  - odoo_fs_thompson:/opt/odoo/.local/share/Odoo/
  - thompson_conf:/opt/odoo/conf
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.102
 odoo3:
  build: ./odoo
  hostname: odoo3
  env_file: 
  - "odoo/odoo.env"
  environment:
  - DBHOST=postgres2
  depends_on:
  - postgres2
  ports:
  - "8071:8069"
  #Mapeo del directorio de la MV en el container
  volumes:
  - ~/odoo/src:/opt/odoo/src
  - odoo_fs_ritchie:/opt/odoo/.local/share/Odoo/
  - ritchie_conf:/opt/odoo/conf
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.103
 odoo4:
  build: ./odoo
  hostname: odoo4
  env_file: 
  - "odoo/odoo.env"
  environment:
  - DBHOST=postgres2
  depends_on:
  - postgres2
  ports:
  - "8072:8069"
  #Mapeo del directorio de la MV en el container
  volumes:
  - ~/odoo/src:/opt/odoo/src
  - odoo_fs_ritchie:/opt/odoo/.local/share/Odoo/
  - ritchie_conf:/opt/odoo/conf
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.104
 postgres1:
  build: ./postgres
  hostname: postgres1
  env_file: 
  - "postgres/postgres.env"
  volumes:
  - pg_data1:/var/lib/postgresql/11/main
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.110
 postgres2:
  build: ./postgres
  hostname: postgres2
  env_file: 
  - "postgres/postgres.env"
  volumes:
  - pg_data2:/var/lib/postgresql/11/main
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.111
 nginx:
  build: ./nginx
  hostname: nginx
  ports:
  - "80:80"
  - "443:443"
  networks:
   nginx_odoo_ssl:
    ipv4_address: 192.168.202.100
  volumes:
  - nginx_ssl_conf:/etc/nginx
networks:
  nginx_odoo_ssl:
    driver: bridge
    ipam:
     config:
       - subnet: 192.168.202.0/24
volumes:
  nginx_ssl_conf:
  pg_data1:
  pg_data2:
  thompson_conf:
  ritchie_conf:
  odoo_fs_thompson: 
  odoo_fs_ritchie: 
